services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    ports:
      - "8085:80"
    depends_on:
      - db

volumes:
  db_data:
